h1, h2, h3, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 120px;
}
@media screen and (min-width: 320px) {
  .container-button {
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;
  }
}
@media screen and (min-width: 480px) {
  .container-button {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px), (min-width: 1280px) {
  .container-button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    padding-top: 120px;
  }
}

.container-foto {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 20px;
}
@media screen and (min-width: 320px) {
  .container-foto {
    padding-left: 18px;
    padding-right: 18px;
    gap: 36px;
  }
}
@media screen and (min-width: 480px) {
  .container-foto {
    padding-left: 18px;
    padding-right: 18px;
    gap: 36px;
  }
}
@media screen and (min-width: 768px) {
  .container-foto {
    padding-left: 80px;
    padding-right: 80px;
    gap: 44px 38px;
  }
}
@media screen and (min-width: 1280px) {
  .container-foto {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    gap: 44px 20px;
  }
}

.btn-all {
  width: 168px;
  height: 51px;
  background-color: #86E543;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid transparent;
}
@media screen and (min-width: 320) {
  .btn-all {
    width: 124px;
    height: 35px;
  }
}

.btn-all:hover, .btn-all:focus {
  background: #86E543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 16px;
}

.btn {
  width: 168px;
  height: 51px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #86E543;
  border-radius: 16px;
  border: 2px solid #86E543;
  background-color: transparent;
}
@media screen and (min-width: 320) {
  .btn {
    width: 124px;
    height: 35px;
  }
}

@media screen and (min-width: 320px), (min-width: 480px) {
  .fon-accessories {
    background-image: url(../img/fon-mobil.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .fon-accessories {
    background-image: url(../img/fon-tabl.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .fon-accessories {
    background-image: url(../img/Frame\ 39\ 1.jpg);
    background-position: center;
    background-size: cover;
  }
}

.accessories-foto {
  width: calc((100% - 60px) / 4);
}
@media screen and (min-width: 320px) {
  .accessories-foto {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .accessories-foto {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .accessories-foto {
    width: calc((100% - 38px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .accessories-foto {
    width: calc((100% - 60px) / 4);
  }
}

img {
  border-radius: 12px;
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .accessories-mobil {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .accessories-mobil {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .accessories-mobil {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .accessories-mobil {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .accessories-tablet {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .accessories-tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .accessories-tablet {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .accessories-tablet {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .accessories-destop {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .accessories-destop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .accessories-destop {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .accessories-destop {
    display: block;
  }
}

.accessories-spesoc-icon {
  display: flex;
  align-items: center;
  margin-top: 52px;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 480px) {
  .accessories-spesoc-icon {
    display: flex;
    align-items: center;
    padding-top: 44px;
    margin: 0;
    padding-bottom: 48px;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }
}

.accessories-zag {
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  color: #FFFFFF;
  padding: 72px 142px 8px 142px;
}
@media screen and (min-width: 480px) {
  .accessories-zag {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 35px 140px 8px 16px;
  }
}
@media screen and (min-width: 768px), (min-width: 1280px) {
  .accessories-zag {
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
    padding: 72px 142px 8px 142px;
  }
}

.accessories-titel {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #86E543;
  padding-bottom: 11px;
}
@media screen and (min-width: 480px) {
  .accessories-titel {
    padding-top: 8px;
    padding-bottom: 11px;
  }
}

.accessories-cina {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8D9289;
  /* padding-top: 11px; */
  justify-content: left;
  align-items: center;
  display: flex;
}

.accessories-cinatwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #86E543;
  display: flex;
  justify-content: right;
  align-items: center;
}

.cina {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accessories-window {
  position: relative;
  overflow: hidden;
}

.window-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 16px 16px 52px 16px;
  background-color: #01383A;
  /* background: linear-gradient(0deg, #01383A, #01383A), url(Screenshot 2022-09-23 184301.png); */
  border: 1px solid #86E543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 12px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.border-one:hover .window-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */