
.container-button {
    display: flex;
    justify-content: center;
    gap: 10px;    
    padding-top: 120px;

}
h1, h2, h3, p {
    margin-top: 0px;
    margin-bottom: 0px;   
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.container {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    margin: 0 auto;
    outline: 2px solid tomato ;
    padding-bottom: 120px;
}
.fon-accessories {
    background-color:;
    background-image: url(../img/Frame\ 39\ 1.jpg);
    background-position: center;
    background-size: cover;   
}

.btn-all {
    width:168px;
    height: 51px;
    background-color:  #86E543;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 16px;
    border: 2px solid transparent;
}
.btn {
    width:168px;
    height: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #86E543;
    border-radius: 16px;
    border: 2px solid #86E543;
    background-color: transparent;

} 
.accessories-zag {  
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
    padding: 72px 142px 8px 142px;

}
.container-foto {
    display: flex;
    flex-wrap: wrap;
    gap:44px 20px;
}
.accessories-titel { 
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #86E543;
    padding-bottom: 11px;
}
.accessories-cina {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #8D9289;
    padding-top: 11px; 
    justify-content: left;
    align-items: center;
    display: flex;
}
.accessories-cinatwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #86E543;
    display: flex;
    justify-content: right;
    align-items: center;
   
}

/* /* .accessories-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px; 
} */

.accessories-foto {
    width: calc((100% - 60px) /4);    
}

.link {
    text-decoration: none;
}
img {
    border-radius: 12px;
}
.cina {
    display: flex;
    justify-content:space-between;
    align-items: center;
} 
 .accessories-spesoc-icon {
    display: flex;
    align-items: center;
    margin-top: 52px;
    justify-content:center;
    gap: 16px;
} 
.accessories-window {
    position: relative;
    overflow: hidden;
}
.window-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 16px 52px 16px;
    background-color: #01383A;
    /* background: linear-gradient(0deg, #01383A, #01383A), url(Screenshot 2022-09-23 184301.png); */
    border: 1px solid #86E543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 12px;
    height: 100%;
    transform: translateY(100%) ;
    transition: transform 300ms linear;
    overflow: auto;
}

.border-one:hover .window-text {
        transform: translateY(0);
    }
