.accessories-window {
    position: relative;
    overflow: hidden;
}
.window-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 16px 52px 16px;
    background-color: #01383A;
    /* background: linear-gradient(0deg, #01383A, #01383A), url(Screenshot 2022-09-23 184301.png); */
    border: 1px solid #86E543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 12px;
    height: 100%;
    transform: translateY(100%) ;
    transition: transform 300ms linear;
    overflow: auto;
}

.border-one:hover .window-text {
        transform: translateY(0);
    }


 

